name: work_ua
description: A new Flutter project.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.3
  bottom_picker: ^2.2.1
  intl: ^0.18.1
  mask_text_input_formatter: ^2.5.0
  dio: ^5.3.3
  meta: ^1.9.1
  equatable: ^2.0.5
  shared_preferences: ^2.2.2
  socket_io_client: ^2.0.3+1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
